In [4]:
# Import packages
import yfinance as yf
import pandas as pd

# Read and print the stock tickers that make up S&P500
tickers = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

# Get the data for this tickers from yahoo finance
data = yf.download(tickers.Symbol.to_list(), '2020-01-01', '2023-12-12', auto_adjust=True)['Close']

# Put tickers in one list
sp500_tickers = tickers.Symbol.tolist()

[*********************100%%**********************]  503 of 503 completed

4 Failed downloads:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2020-01-01 -> 2023-12-12)')
['GEV', 'SOLV']: Exception("%ticker%: Data doesn't exist for startDate = 1577854800, endDate = 1702357200")
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [7]:
# Import packages
import yfinance as yf
import pandas as pd

# Read and print the stock tickers that make up S&P500
tickers = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_S%26P_600_companies')[0]

# Get the data for this tickers from yahoo finance
data = yf.download(tickers.Symbol.to_list(), '2020-01-01', '2023-12-12', auto_adjust=True)['Close']

# Put tickers in one list
sp600_tickers = tickers.Symbol.tolist()

[*********************100%%**********************]  602 of 602 completed

2 Failed downloads:
['CWEN.A', 'MOG.A']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [6]:
# Import packages
import yfinance as yf
import pandas as pd

# Read and print the stock tickers that make up S&P500
tickers = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_S%26P_400_companies')[0]

# Get the data for this tickers from yahoo finance
data = yf.download(tickers.Symbol.to_list(), '2020-01-01', '2023-12-12', auto_adjust=True)['Close']

# Put tickers in one list
sp400_tickers = tickers.Symbol.tolist()

[*********************100%%**********************]  401 of 401 completed

In [34]:
sp1500_tickers = sp500_tickers + sp600_tickers +sp400_tickers

In [10]:
df_sub = pd.read_excel("CompanyList_Coded (4).xlsx")

In [14]:
df_sub.drop(columns=["Label", "Partners"], axis = 1, inplace = True)

In [17]:
df_sub

    Ticker
0     AAPL
1     MSFT
2    GOOGL
3     AMZN
4     META
..     ...
195    KMX
196   ORLY
197    MLM
198    VMC
199   DLTR

[200 rows x 1 columns]

In [35]:
df_sp1500 = pd.DataFrame(sp1500_tickers)

In [36]:
df_sp1500.rename(columns={0: "Ticker"}, inplace=True)

In [37]:
df_sp1500

     Ticker
0       MMM
1       AOS
2       ABT
3      ABBV
4       ACN
...     ...
1501   XRAY
1502   YETI
1503     ZD
1504     ZI
1505   ZION

[1506 rows x 1 columns]

In [40]:
df_sp1500 = df_sp1500[~df_sp1500["Ticker"].isin(df_sub["Ticker"])]

In [41]:
df_sp1500

     Ticker
0       MMM
1       AOS
2       ABT
3      ABBV
6       AMD
...     ...
1499      X
1500    XPO
1501   XRAY
1502   YETI
1505   ZION

[1317 rows x 1 columns]

In [42]:
df_sp1500.to_excel("S&P1500_Ticker.xlsx")